{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://pitchprint.io/rsc/js/client.js"></script> 

  <div class="contact page-width page-width--narrow spaced-section">
    <div class="contact__fields">  
		<p>Click here to <a href="https://etsy.com/shop/paperBoxDesignCo" target="_blank">Order Your Box Design on Etsy</a></p>
    </div>  
    
    <h2 class="title">Demo 3D Designer</h2> 
                
    <div class="contact__fields">
      <div class="field">
        
        <input class="field__input" 
               type="text" 
               list="designs" 
               name="design_id" 
               id="design_id">        

        <datalist id="designs">
          	<option data-value="0ca1f0e467db2d1d1f514412b6a1ae88" value="Bottle_box"></option>
            <option data-value="d4cfaac98a4f58dc7f2e88e008851c0f" value="Bottle_Design_2"></option>          
			<option data-value="0ca1f0e467db2d1d1f514412b6a1ae88" value="Tube_box"></option>
          	<option data-value="16847dce48f39b33643ca25f7131ddfb" value="Candle_box"></option>
          	<option data-value="16847dce48f39b33643ca25f7131ddfb" value="Cosmetic_box"></option>
			<option data-value="96e48c9fc9646b92fb35685d48f19f94" value="4x4x2_SL_box"></option>          
            <option data-value="e23aa324b6e4014b5dacf92c0ec95a84" value="4x4x4_box"></option>
          	<option data-value="f9b45ffb415fd3ec26506c6844d71bd5" value="Gable_box"></option>
          	<option data-value="275803bb5a6db4528cb3a4f1c9d64471" value="3.5x1.5x6_HP_box"></option>
          	<option data-value="f494cf8e0c8bdf4f699706298871b8e0" value="Soap_box"></option>
          	<option data-value="f494cf8e0c8bdf4f699706298871b8e0" value="Perfume_box"></option>
        </datalist>  
        
        <label class="field__label" id="design_id_label" for="design_id">Box Type </label>        
        
      </div>    
    </div> 
        
    <div class="contact__fields">      
      <div class="field">
        
        <input class="field__input"  
               type="text"
               name="project_id"
               id="project_id">

        <label class="field__label" id="project_id_label" for="project_id">Project ID </label>
        
      </div>
    </div>
    
    <div class="contact__fields">      
      <div class="field">
        <button id="submit_btn" class="button">Launch Designer </button>
      </div>  
    </div>
    
    <div class="contact__fields">      
      <div class="field">

        <label class="form__label" id=design_mode_label for="design_mode">Select Mode </label>
        
        <select class="select select__select" 
            name="design_mode" 
            id="design_mode">
          	  <option value="new">New Design </option>	          
              <option value="edit">Edit Design </option>
        </select>
        
      </div>  
    </div>        
  </div>


  <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
    <h3 class="title title-wrapper--no-top-margin" id="email_header">Please enter your email to receive a link to access your saved design</h3>
    {%- form 'contact', id: 'ContactForm' -%}
      {%- if form.posted_successfully? -%}
        <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} Thank you for saving your design! You'll receive an email with a link to your design shortly</div>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <div class="contact__fields">
        <div class="field">
          <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
          <label class="field__label" id="ContactForm-name_label" or="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>
        <div class="field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}"
          >
          <label class="field__label" id="ContactForm-email_label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
            </small>
          {%- endif -%}
        </div>
      </div>
    
      <div class="field">
        <textarea
          rows="10"
          id="ContactForm-body"
          class="text-area field__input"
          name="contact[{{ 'templates.contact.form.comment' | t }}]"
          placeholder="{{ 'templates.contact.form.comment' | t }}"
        >
          {{- form.body -}}
        </textarea>
        <label class="form__label field__label" id="ContactForm-body_label" for="ContactForm-body">Saved design link</label>
      </div>    
    
      <div class="contact__button">
        <button type="submit" id="submit-email_btn" class="button">
          {{ 'templates.contact.form.send' | t }}
        </button>
      </div>
    {%- endform -%}
    
    <br>
  </div>


<script>
  
  document.getElementById("design_mode").style.display = "none";
  document.getElementById("design_mode_label").style.display = "none";
   
  // get current url
  var urlValue = $(location).attr('href'); 

  // read url variables
  (new URL(urlValue)).searchParams.forEach((x, y) =>
      document.getElementById(y).value = x);
  
  // check if project ID populated, then switch to edit mode and display project id and hide box type
  if ($( "#project_id" ).val()){   
    document.getElementById('design_mode').value = 'edit';
    document.getElementById("project_id").style.display = "block";
    document.getElementById("project_id_label").style.display = "block";      
    document.getElementById("design_id").style.display = "none";
    document.getElementById("design_id_label").style.display = "none";
    
  }
  else
  {
    document.getElementById("project_id").style.display = "none";
  	document.getElementById("project_id_label").style.display = "none"; 
  }
  
  // hide contact form until after project is saved
  document.getElementById("ContactForm-name").style.display = "none";
  document.getElementById("ContactForm-name_label").style.display = "none";
  document.getElementById("ContactForm-email").style.display = "none";   
  document.getElementById("ContactForm-email_label").style.display = "none";
  document.getElementById("submit-email_btn").style.display = "none";
  document.getElementById("ContactForm-body").style.display = "none";
  document.getElementById("ContactForm-body_label").style.display = "none";
  document.getElementById("email_header").style.display = "none";
  
  //************
  
  // Launch Designer button pressed
  function launchDesigner() {
    
    // form fields 
    var modeValue = $( "#design_mode" ).val();   
    var projectValue = $( "#project_id" ).val();
    
    var value = $('#design_id').val();
    var designValue = $('#designs [value="' + value + '"]').data('value');
    
    // design ID manually typed
    if (designValue == null) {
      designValue = $( "#design_id" ).val();
    }
      
    //Get handles to the UI elements we'll be using
    var _previewDiv = document.getElementById('pp_preview_div');

    var ppclient = new PitchPrintClient({
      apiKey: 'kwik-boxes.myshopify.com',
      designId: designValue,
      mode: modeValue,
      userId: 'Etsy demo',
      //userData: {email: emailValue}, //lastname:    
      projectId: projectValue,
      custom: true
    });
    
    //Function to run once the app is validated (ready to be used)
    var appValidated = () => {      
      ppclient.showApp();		
    };

    //Function to run once the user has saved their project
    var projectSaved = (_val) => {
            
      let _data = _val.data; 
      
      if (_data && _data.previews && _data.previews.length) {
        
		// display contact form
        document.getElementById("ContactForm-name").style.display = "block";
        document.getElementById("ContactForm-name_label").style.display = "block";
        document.getElementById("ContactForm-email").style.display = "block";   
        document.getElementById("ContactForm-email_label").style.display = "block";
        document.getElementById("submit-email_btn").style.display = "block";
        document.getElementById("ContactForm-body").style.display = "block";
        document.getElementById("ContactForm-body_label").style.display = "block";
        document.getElementById("email_header").style.display = "block";        
        
        //$("header").removeClass("hidden");
        
        //document.getElementById("saved_url").style.display = "block";
        //document.getElementById("saved_url_label").style.display = "block";         
        
        // update Project ID
        document.getElementById('project_id').value = _data.projectId;
        
        // switch to Edit mode
        document.getElementById('design_mode').value = 'edit';
        
        // create url with project id
        var newURL = "https://paperboxdesign.com/pages/demo-designer/" + "?project_id=" + _data.projectId;
        
        
        //document.getElementById('saved_link').value = newURL;
        
        // display URL for user to copy for future access
        document.getElementById('ContactForm-body').value = newURL;
          
        // copy url with project id to clipboard
        navigator.clipboard.writeText(newURL);
        
        // Hide preview
        //_previewDiv.innerHTML = _data.previews.reduce((_str, _prev) => `${_str}<img src="${_prev}">`, '');		//Show the preview images
      }
    }; 

    //Attach events to the app. You can see a list of all the events here: https://docs.pitchprint.com
    ppclient.on('app-validated', appValidated);
    ppclient.on('project-saved', projectSaved);
      
  }
  
  $( "#submit_btn" ).on( "click", launchDesigner );
  
  $(document).keypress(function(event){
      var keycode = (event.keyCode ? event.keyCode : event.which);
      if(keycode == '13'){
          launchDesigner();
      }
  });
</script>    